
.all-icons [class*="pe-"]{
   font-size: 40px;
}
input {
    display: inline-block;
    color: black;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: black;
}
th {
    font-size: 12px;
    background-color: unset;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: skyblue;
    text-align: left;
}
.all-icons input{
   border: 0;
}
.all-icons .font-icon-detail{
   text-align: center;
   padding: 45px 0px 30px;
   border: 1px solid #e5e5e5;
   border-radius: 6px;
   margin: 15px 0;
}
.all-icons .font-icon-detail input{
   margin: 25px auto 0;
   width: 100%;
   text-align: center;
   display: block;
   color: #aaa;
   font-size: 13px;
}
#map{
   position:relative;
   width:100%;
   height: calc(100% - 60px);
}
.places-buttons .btn{
   margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
   position: absolute;
   width: 100%;
   bottom: 10px;
}
.sidebar .nav > li.active-pro a{
   background:lightblue;
   opacity: 1;
   color: #FFFFFF;
}
.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
   text-align: center;
} 
.tftable {font-size:12px;color:#333333;display:inline-block;width:200px;border-width: 1px;border-color: #729ea5;border-collapse: collapse; margin-right:20px;}
.tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;width:200px;}
.tftable tr {background-color:#d4e3e5;width:200px;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;width:200px;}
.tftable tr:hover {background-color:#ffffff;}
.tables {display:inline-block;}
th {font-size:12px;background-color:unset;border-width: 1px;padding: 8px;border-style: solid;border-color: teal;text-align:left;width:200px;}
td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;width:200px;  color: white;}
  
table{
  
      border: 1px solid lightblue;
    /* width:"100%"; */
    margin: 0px auto;
    margin-top: 100px;   
}
th{
  
   border-right-color:#000;
   border-right-style:groove;
   width: 25%;
   
}
label{
   display: inline-block;
   width: 250px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 700
}
input {
 display: inline-block;
 color:black;
}
textarea {
   margin: 0;
   font: inherit;
   color: black;
}
.inline-div {
   display:inline-block;
}
.inline-txtarea {
   resize: none;
   border : 2px solid black;
   height:125px;
}
.container {
   
    /* background-color: skyblue;  
   padding: 30px;
   height: 150px;
   border: 1px solid black; */
   width: 960px;
   background: skyblue;
   height:250px;
   margin: 0 auto;
   border-width:1px;
   border-color:black;
}  
.wrapper {
   margin: 0 auto;
    text-align: center; 
   
}
input[type="text"] {
   margin: 0 auto;
   /* text-align: center; */
}
input[type=file] {
    margin: 0 auto; 
   text-align: center;
}
.button {
   position: absolute;
  
}
.image {
   min-height: 560px;
   padding: 71px 0 65px 0;
   position: relative;
}
.container {
   position: relative;
   text-align: center;
   width: 960px;
   margin: 0 auto; 
   height:1100px;
   color:black;
}
.btn-primary {
    border-color: azure;
    color: aliceblue;
}
.parent {
   display: table;
   width: 100%;
   color: black;
}
.form_login {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}
input[type=text]:hover,
input[type=password]:hover {
   border: 1px solid #b6bfc0;
   box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}
input[type=text]:focus,
input[type=password]:focus {
   border: 1px solid #a8c9e4;
   box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}
.container1{
    width: 960px;
    background: skyblue;
    height:100%;
    margin: 0 auto;
    border-width:1px;
    border-color:black;
}
.labelid {
    display: unset;
    width: 250px;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    text-align: inherit;
    color: white;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: black;
}

.container2 {
    position: relative;
   text-align: center;
   color:skyblue;
}

p {
    font-size: 27px;
    line-height: 1.5;
    color: white;
}


input[type=file] {
    margin: 0 auto;
    text-align: center;
    color: white;
}
.containerdemo {
   
    /* background-color: skyblue;  
   padding: 30px;
   height: 150px;
   border: 1px solid black; */
   width: 500px;
   
   height:250px;
   margin: 0 auto;
   border-width:1px;
   border-color:black;
   text-align:left;
 }  
 .form-control {
    margin:10px auto;
  
 }
 .document {
    margin:10px auto;
    height:98px;
 }
 .labelid {
    display: inline-block;
    width: 250px;
     max-width: 100%;
     text-align: center;
     margin-bottom: 5px;
     font-weight: 700;
 }
 .containerreg {
    width: 500px;
    background: skyblue;
    height:450px;
    margin: 0 auto;
    border-width:1px;
    border-color:black;
    text-align:left;

 }
<<<<<<< HEAD
 input[type="text"] {
    margin: 0 auto;
    /* text-align: center; */
    color: black;
=======
 .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin-top: 50px;
    margin-left: 214px;
    background-color: skyblue;
>>>>>>> 1d369d9c0338826e7eb795f7941c44e8839a5fa5
}